@viewport {
  width: device-width;
  zoom: 1;
}

img.responsive {
  max-width: 100%; /* This ensures the image is no wider than the container */
  height: auto; /* This makes the height scale in proportion to the width */
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

body {
  font-family: "Poppins";
  color: white;
  background-color: #393939;
  padding-top: 70px;
}

h1,
h2,
h3,
p {
  text-align: center;
  display: block;
  margin: 1 auto;
  margin-top: 80px; /* Platz für die Navigationsleiste, angepasst an deren Höhe */
}

.font-header1 {
  font-size: 2em;
  font-weight: 800;
}

.font-header2 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
}

.font-header3 {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 500;
}

p {
  font-size: 20px;
  font-weight: 100;
}

ul.position li {
  padding: 0;
  text-align: left;
  list-style: disc;
}

ol.position li {
  padding: 0;
  text-align: left;
  list-style: decimal;
}

li {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 100;
  list-style: none;
}

#mynav {
  background-color: #f7f7f7;
  width: 100%;
  padding: 1em;
  z-index: 10;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

#mynav ul {
  margin: 0;
  padding: 0;
  /* Makes sure there are no bullets in a list*/
  list-style: none;
}

#mynav ul li {
  display: inline-block;
  margin: 0 0.35em;
  padding: 0;
  /* Center the text vertically */
  vertical-align: middle;
}

#mynav ul li a {
  display: inline-block;
  height: 2.25em;
  line-height: 2.25em;
  padding: 0 1.25em;
  border: 0;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px transparent;
  text-decoration: none;
}

nav {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 100;
  color: #ff5a09;
}

nav a:hover {
  background-color: #ff5a09;
  color: white;
  font-family: "Poppins";
  font-size: 20px;
  transition: all 0.8s;
}

#nav.alt {
  position: fixed;
  top: 0;
  padding: 0.5em 1em;
  background-color: rgba(247, 247, 247, 0.95);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 10000;
}

#mynav.alt ul li {
  margin: 0 0.175em;
}
#mynav.alt ul li a {
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: #ff5a09;
}

form {
  /* Add your form styling here */
  margin: 20 auto;
  text-align: center;
  font-family: "Poppins";
  font-weight: 100;
  margin-bottom: 1px;
  max-width: 200px;
}

input[type="email"],
input[type="text"] {
  /* Style your input field */

  padding: 20px;
  margin-right: 1px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  width: calc(
    100% - 40px
  ); /* Passt die Breite an den Container an und berücksichtigt das Padding */
  margin: 10px auto; /* Zentriert und fügt vertikalen Abstand hinzu */
  box-sizing: border-box; /* Stellt sicher, dass das Padding und Border in die Breite inkludiert sind */
}

button[type="submit"] {
  padding: 15px; /* Provide padding for the button */
  margin-right: 10px auto; /* Right margin */
  box-sizing: border-box;
  width: calc(
    100% - 40px
  ); /* Passt die Breite an den Container an und berücksichtigt das Padding */
  border: 1px solid #ccc; /* Border color and width */
  border-radius: 10px; /* Rounded corners */
  background-color: #f8f8f8; /* Background color */
  color: #333; /* Text color */
  font-weight: bold; /* Font weight */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  transition: all 0.4s ease; /* Smooth transition for hover effect */
}

button[type="submit"]:hover {
  background-color: #ff5a09; /* Background color on hover */
  border-color: #15244f; /* Border color on hover */
  color: #e9e7e7; /* Text color on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a shadow effect on hover */
}
