* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Navigation Bar */

.container {
  /*  
  background-color: pink;
  height:1500px; testing*/
  margin: auto;
  width: 90%;
}

.navbar {
  position: fixed;
  z-index: 100;
  overflow: hidden;
  margin: auto;
  background-color: #24322e;
  width: 100%;
  left: 0;
  top: 0;
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
}

.navbar li.logo,
.navbar li.navbar_items {
  list-style-type: none;
  display: inline-block;
}

.navbar li a {
  font-size: 1.05em;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.navbar li.navbar_items a:hover {
  border-bottom-style: solid;
  border-bottom-color: white;
  /*   padding-bottom: 5px; */
}

.navbar li.icon {
  display: none;
}

.div_navbar_items {
  float: right;
  padding-right: 1%;
}

.intro {
  position: relative;
  top: 100px;
  text-align: center;
}
/* ----------------------- */

/* responsive navigation bar: CSS */

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("navbar_name"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width: 875px) {
  .navbar li.navbar_items {
    display: none;
  }
  .navbar li.icon {
    float: right;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 19px;
  }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens */

@media screen and (max-width: 875px) {
  .navbar.responsive {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #33d2dc;
    transition: background-color 0.6s;
  }

  .navbar.responsive li.logo {
    float: left;
    display: block;
  }
  .navbar.responsive .div_navbar_items {
    float: none;
    padding-right: 0;
  }

  .navbar.responsive li.navbar_items {
    display: block;
    padding: 50px;
    font-size: 25px;
  }
  .navbar.responsive li.navbar_items a {
    display: block;
    text-align: center;
  }

  .navbar.responsive li.navbar_items a:hover {
    color: #17171e;
    border-bottom-color: transparent;
  }
}

/* end of navgation bar styling - responsive */

h1 {
  margin-top: 4em;
  margin-bottom: 1em;
  text-align: center;
}

h2,
h3 {
  margin-top: 2em;
  text-align: center;
}

.image {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
}

/* text container */
p {
  font-size: 100%;
}

.textbox {
  width: 50%;
  max-width: 700px;
  margin: auto;
  margin-top: 2em;
  border: solid #33d1dc99;
  border-radius: 1em;
  padding: 1em;
}

form {
  background-color: #8f815718;
  max-width: max-content;
  margin: auto;
  /* border: solid #8f8157; */
  padding: 1em;
  border-radius: 1em;
}

input {
  width: calc(100%);
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: auto; /* Zentriert und fügt vertikalen Abstand hinzu */
  box-sizing: border-box; /* Stellt sicher, dass das Padding und Border in die Breite inkludiert sind */
}

button[type="submit"] {
  width: calc(100% - 50%);
  display: block;
  margin: auto;
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  background-color: #ffff;
  transition: all 0.4s ease;
}

button[type="submit"]:hover {
  width: calc(100% - 50%);
  display: block;
  margin: auto;
  cursor: pointer;
  border: 0.1em solid #33d2dc;
  background-color: #33d1dca3;
  color: #24322e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a shadow effect on hover */
}

/* Flexbox Thema */
/* Zubereitung */
/* icon uhr */
.material-symbols-outlined {
  word-wrap: normal;
  direction: ltr;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  /* padding: 0.1em; */
  margin-right: 0.3em;
  margin-left: -0.15em;
}

.rds-recipe-meta .rds-recipe-meta__badge,
.recipe-meta .rds-recipe-meta__badge {
  background: #cccccc42;
  min-width: 15%;
  justify-content: center;
}

.ds-recipe-meta {
  display: flex;
  justify-content: center; /* Zentriert horizontal */
  align-items: center; /* Zentriert vertikal */
}

.ds-recipe-meta > span {
  height: fit-content;
  align-items: center;
  background: #a7a7a24d;
  border-radius: 8px;
  color: #212018;
  display: inline-flex;
  font-size: 14px;
  margin: 1.2em;
  padding: 1.4em;
  margin-top: 2em;
}

/* FlexBox Thema Ende */

/* Adjust image within a text wrap it with a div */
/* hommade-sushi */
.float {
  float: left;
  width: 100%;
  max-width: 40%;
  height: auto;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.clearfix {
  line-height: 1.5;
  background-color: #33d1dc15;
  border-radius: 0.5em;
  overflow: auto;
  width: 700px;
  max-width: 70%;
  height: fit-content;
  margin: auto;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}

/* sushi end */

.container-ingredients {
  width: max-content;
  padding: 2em;
  margin: auto;
  line-height: 2;
}

.container-ingredients .h2 {
  padding-top: 0px;
  padding-bottom: 0.5em;
}

.container-steps {
  width: max-content;
  max-width: 70%;
  margin: auto;
  line-height: 2;
}

.container-steps h2 {
  padding-top: 0;
  margin-top: 0;
}

.container-steps ol {
  background-color: #f2f2f2;
  padding: 2.5em;
  border-radius: 0.5em;
}

.container-tips {
  width: max-content;
  max-width: 70%;
  margin: auto;
  text-align: justify;
}

.container-tips p {
  background-color: #ebf5fb90;
  padding: 2em;
  border-radius: 0.5em;
  line-height: 2;
}
